*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #dcdcdc;
}

header{
    background-image: linear-gradient(to bottom, #6a6e73, #FFFFFF); /* Cambia los colores según tus preferencias */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.small-image {
    width: 25%;
    height: auto;
    margin-top: 80px; 
}

.container{
    max-width: 1100;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color: black;
}

.menu .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6a6e73;
}

.menu .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu .navbar ul li {
    margin-left: 10px;
}

.menu .navbar ul li a {
    font-size: 14px; /* Ajusta el tamaño del texto según tu preferencia */
    padding: 6px 10px; /* Ajusta el padding según tu preferencia */
    color: black;
    border-radius: 7px; /* Ajusta el radio del borde según tu preferencia */
    display: block;
}

.menu .navbar .labcare {
    color: black;
    font-size: 36px;
}

.menu .navbar .labcare .highlight {
    font-size: 36px;
    color: #efb810;
}

/* Colocar los botones a la derecha */
.menu .navbar {
    text-align: right; /* Alinea los elementos a la derecha */
}

.menu .navbar .login-btn,
.menu .navbar .login-btn2 {
    margin-top: -5px;
    font-size: 14px;
    padding: 6px 10px;
    color: #ccc;
    border-radius: 7px;
    display: inline-block; /* Permite que los elementos estén en la misma línea */
}

.menu .navbar .login-btn {
    margin-left: 5px; /* Agrega un margen a la izquierda del primer botón */
}

/* Elimina el margen izquierdo del segundo botón */
.menu .navbar .login-btn2 {
    margin-left: -75%;
}





#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
}

.content {
    padding: 150px 150px 0px 0px;
}

.content h1 {
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;

}

.content p {
    margin-top:  25px;
    color: #535b61;
    text-transform: uppercase;
    font-size: 35PX;
    line-height: 40px;
}

.btn-1 {
    display: inline-block;
    background-color: rgba(22, 22, 23, 0.3);
    border: 1px solid #1f2124;
    margin: 35px 10px 0px 0px; 
    padding: 15px 25px;
    color:aliceblue;
    border-radius: 25px;
    
}

.btn-1:hover{
    background-color:#efb810;
}

.services {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service{
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(135, 141, 214, 0.3);

}

.service img {
    margin-top: -50px;
}

.service h3 {
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 10px;
    
}

.service P {
    color: #525254;
    font-size: 14px;
}

.portafolios {
    padding: 80px 0px;
    text-align: center;
    color:#0E0E0E;
}

.portafolios h2 {
    font-size: 55px;
}

.portafolio {
    display: flex;
    align-items: center;
}

.portafolio img {
    width: 200px;
}

.portafolio-1 {
    text-align: left;
    margin-left: 100px;
}

.portafolio-1 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.portafolio-1 p {
    font-size: 15px;
    color: #525254;
    margin-bottom: 25px;
}

.btn-2 {
    display: inline-block;
    background-color: rgba(22, 22, 23, 0.3);
    border: 1px solid #1f2124;
    margin: 35px 10px 0px 0px; 
    padding: 15px 25px;
    color:aliceblue;
    border-radius: 25px;
}

.btn-2:hover{
    background-color:#efb810;
}

footer {
    padding: 15px 0 30px 0;
    background-image: linear-gradient(to bottom, #6a6e73, #FFFFFF); /* Cambia los colores según tus preferencias */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.info-content {
    display: flex;
}

.info-price {
    padding: 35px;
    text-align: center;
    background-color: #ccc;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px 0px;
    color: black;
}

.info-price h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    color: red!important;
    margin-bottom: 10px;
}

.info-price p {

    font-size: 16px;
    color: black;
}

.info-txt {
    margin-left: 200px;
    color: black;
}

hr{
    margin: 45px 0px;
    border: 0.5px solid black;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    color: #ccc;
}

.enlaces h3 {
    font-size: 25px;
}

.enlace{
    display: flex;

}

.enlace li a {
    display: block;
    margin: 20px;
    color: black;
}

.enlace li a:hover {
    color: #efb810;
}

@media screen and (max-width: 991px){
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinea el menú en el centro */
        margin: auto; /* Centra el menú en la pantalla */
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: block;
    }

    .header {
        height: auto; /* Ajusta la altura según el contenido */
        padding: 50px 0; /* Ajusta el relleno según tus preferencias */
        background-position: center center;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0  50px; /* Ajusta el relleno según tus preferencias */
    }

    .content {
        padding: 200px; /* Ajusta el relleno según tus preferencias */
    }

    .content h1 {
        font-size: 30px; /* Ajusta el tamaño de fuente según tus preferencias */
    }

    .services {
        flex-direction: column;
        padding: 30px 20px;
    }

    .service {
        margin-bottom: 30px;
    }

    .portafolios {
        padding: 20px;
    }

    .portafolios h2 {
        margin-bottom: 15px;
    }

    .portafolio {
        flex-direction: column;
    }

    .portafolio img {
        display: none;
    }

    .portafolio-1 {
        text-align: center;
        margin: 0 0 15px 0;
    }

    .footer {
        padding: 20px;
    }

    .info-content {
        flex-direction: column;
        text-align: center;
    }

    .info-price {
        margin: 20px 0;
    }

    .info-txt {
        margin: 0;
    }

    hr {
        margin: 20px 0;
    }

    .enlaces {
        flex-direction: column;
        align-items: center;
    }

    .enlace {
        flex-direction: column;
    }

    .small-image {
        width: 100%; /* Ajusta el ancho según tu preferencia en dispositivos más pequeños */
        margin-top: 20px; /* Ajusta el margen superior en dispositivos más pequeños */
    }

    .menu .navbar .login-btn,
    .menu .navbar .login-btn2 {
        margin: 10px 0 0 0;
        display: block;
    }

    @media screen and (max-width: 767px) {
        .menu-container {
          padding: 10px;
        }
      
        .menu .navbar {
          display: none;
          position: absolute;
          top: 0px; /* Ajusta la posición según tu diseño */
          left: 0;
          right: 0;
          flex-direction: column;
          align-items: center;
          background-color: #6a6e73; /* Ajusta el color de fondo según tu diseño */
        }
      
        .menu .navbar ul li {
          width: auto;
        }
      
        .menu label {
          display: block;
        }
      
        #menu:checked ~ .navbar {
          display: flex;
        }
      
        .header-content {
          padding: 10px;
        }
      
        .content {
          padding: 200px; /* Ajusta el relleno para pantallas pequeñas */
        }
      }


      @media screen and (max-width: 677px) {
        .menu-container {
          padding: 10px;
        }
      
        .menu .navbar {
          display: none;
          position: absolute;
          top: 0px; /* Ajusta la posición según tu diseño */
          left: 0;
          right: 0;
          flex-direction: column;
          align-items: center;
          background-color: #6a6e73; /* Ajusta el color de fondo según tu diseño */
        }
      
        .menu .navbar ul li {
          width: auto;
        }
      
        .menu label {
          display: block;
        }
      
        #menu:checked ~ .navbar {
          display: flex;
        }
      
        .header-content {
          padding: 10px;
        }
      
        .content {
          padding: 200px; /* Ajusta el relleno para pantallas pequeñas */
        }
      }

      @media screen and (max-width: 467px) {
        .menu-container {
          padding: 10px;
        }
      
        .menu .navbar {
          display: none;
          position: absolute;
          top: 0px; /* Ajusta la posición según tu diseño */
          left: 0;
          right: 0;
          flex-direction: column;
          align-items: center;
          background-color: #6a6e73; /* Ajusta el color de fondo según tu diseño */
        }
        .p{
            padding: 80px;
        }
      
        .menu .navbar ul li {
          width: auto;
        }
      
        .menu label {
          display: block;
        }
      
        #menu:checked ~ .navbar {
          display: flex;
        }
      
        .header-content {
          padding: 10px;
        }
      
        .content {
          padding: 200px; /* Ajusta el relleno para pantallas pequeñas */
        }
      }
}

