@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  text-decoration: none;
}


/* Scroll Bar CSS */
::-webkit-scrollbar {
  display: none;
}




/* navbar */
nav {
  position: fixed;
  width: 100%;
  padding: 1px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 1px solid #e8e8e8;
  background: white;
}

nav.sticky {
  background: white;

}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: black;
}

nav.sticky .navbar .logo a {
  color: black;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #f58a0f;
}

.navbar .menu .router-link-exact-active {
  color: #f58a0f;
}


.logo img {
  width: 200px;

}

.header__logo-image {
  vertical-align: bottom;
}


.hidden {
  display: none;
}



/* Trámites y servicios */
section {
  padding-top: 70px;

}

section .content {
  width: 80%;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif;

}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #0E2431(203, 100%, 96%);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #f58a0f;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

section .title-tramite {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 45px;
}

section .title-tramite span {
  color: #0E2431(203, 100%, 96%);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title-tramite span::before,
section .title-tramite span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #f58a0f;
  left: 0;
  bottom: 0;
}

section .title-tramite span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}





section .topic {
  color: #0E2431;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}

.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 150px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
  cursor: pointer;
}



.services .boxes .box .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.box {
  transition: color 500ms, transform 500ms !important;

}

.box:hover {
  background: transparent !important;
  transform: scale(1.1, 1.1) !important;
  box-shadow: 3px 3px 11px 2px #ff880067 !important;
}

.box img {
  width: 20%;
}

/* Footer CSS */
footer {
  height: auto;
  width: 100%;
  background: #3E3E3E;
  padding: 5%;
  color: #fff;
  font-size: 18px;
  border-top: 50px solid #2A2A2A
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #FFF;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 7px 12px;
  ;
  font-size: 18px;
  display: none;
}

/*Responsive */
@media (max-width: 1410px) {


  .services .boxes .box {
    width: calc(100% / 3 - 20px);
  }
}

@media (max-width: 1190px) {

  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}


@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  .navbar.active .menu {
    left: 0;
  }

}

@media (max-width: 500px) {
  .navbar .menu a {
    color: #f58a0f;
  }

  .logo img {

    width: 150px;

  }


  section {
    padding-top: 45px;
  }

  nav .navbar {
    justify-content: center;
    padding: 15px;
  }

  section .title span {
    text-align: center;
    font-size: 19px;
    margin-top: 50px;
  }

  section .title-tramite span {
    text-align: center;
    font-size: 19px;

  }

  

  section .topic {
    font-size: 12px;
  }

  .navbar .menu a {
    font-size: 14px;
  }

}