/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  background-color: #ffffff !important;
  transition: all 0.5s ease;
}

/* navbar */
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 15px 30px !important;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo-lab{
  font-size: 30px;
  font-weight: bold;
}

.logo-care{
  font-size: 30px;
  font-weight: bold;
  color: #FFD700;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Gestión";
}
.menu_analisis::before {
  content: "Análisis y Reportes";
}
.menu_setting::before {
  content: "Configuración";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  text-decoration: none; 
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
  text-decoration: none; 
}
.navlink_icon:hover {
  background: #aaa;
}
.navlink{
  text-decoration: none;
  color: var(--grey-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 105%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none !important;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: #aaa;
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
  .navbar{
    padding: 1px 30px;
  }
}

/* Estilo para vista de hoja de asignatura*/
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;

}

.content {
  padding: 20px;
}

.content-width{
  width: 50%; /* Puedes ajustar el valor según tus necesidades */
  text-align: center;
}

.cuadroVisualizacion {
  border: 1px solid #ccc;
  height: 150px;
}
.btn-color:hover{
  color: #FFD700 !important;
}


/* Fin estilo para vista de hoja de asignatura*/

/*Estilos para vista de agregar clases*/

.form-objetive{
  height: 160px;
  margin-top: 10px;
}

.padding{
  padding-left: 200px !important;
}



/*#####################  Schedules Table  ############################*/
.schedules_section{
width: 70%;
}

.teacher_input{
padding-left: 10px;
border: none; /* Elimina el borde */
outline: none;
border-radius: 10px;
}

.teacher_label{
  padding-left: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.schedule-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.schedules_section th {
  background-color: #808080;
  color: #ffffff;
  font-weight: bold;
}

td.recess {
  background-color: #000000 ;
  color: #ffffff;
}

td.editable {
  cursor: pointer;
  background-color: #B5B2B2;
  color: #ffffff;
  transition: background-color 0.3s;
}

td.editable:hover {
  background-color: #4B4B4B;
}

td.teacher {
  background-color: #000000 !important;
  color: #ffffff;
}

td.group {
  background-color: #FFD700;
  color: #000000 !important;
}

/* Estilos para el modal */
.modal_horarios {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-horarios-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Estilos para la tabla */
#schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#schedule-table th, #schedule-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Estilos para la tabla responsive */
@media screen and (max-width: 600px) {
  #schedule-table {
      display: block;
  }
  
  #schedule-table thead {
      display: none;
  }

  #schedule-table tbody, #schedule-table tr, #schedule-table td {
      display: block;
      width: 100%;
      text-align: left;
  }

  #schedule-table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
  }
}
.modal_horarios {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-horarios-content {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 90%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Añadir estilos para el grupo de entrada */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Registro de usuarios */


/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
/*@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#addUser {
    background-image: linear-gradient(-225deg, rgb(255, 255, 255) 0%, #ffffff 100%);
background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}


.user{
    width: 450px;
    min-height: 500px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    
    box-shadow: 0 9px 50px hsla(0, 0%, 0%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, rgb(183, 183, 183) 50%, #c1c1c1 50%);
}
/* form Container */
form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

/* the header form form */
#headerUser {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
#headerUser h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}


/* inputs form  */
.form-inputU{
    width: 280px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}

.registroU {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}

/* buttons hover Animation */
.registroU:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.remove-day-btn {
  background-color: #808080;
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 50%; /* Bordes redondeados para que parezca un botón circular */
  cursor: pointer;
  padding: 5px 8px; /* Espaciado interno */
  font-size: 14px; /* Tamaño del texto */
  margin-left: 5px; /* Espaciado a la izquierda para separar del texto del día */
}

.time-picker-input {
  display: inline-block ;
}
.remove-hour{
  color: red; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 50%; /* Bordes redondeados para que parezca un botón circular */
  cursor: pointer;
  padding: 5px 8px; /* Espaciado interno */
  font-size: 14px; /* Tamaño del texto */
  margin-left: 5px; /* Espaciado a la izquierda para separar del texto del día */
}
/*Fin de resgitro de usuarios */